/* Contenedor del formulario */
.form-container {
    width: 100%;                /* Asegura que el contenedor ocupe todo el ancho disponible */
    border: 2px solid #c7c7c7;  /* Borde gris alrededor del formulario */
    padding: 16px;              /* Espaciado interno para que el contenido no toque los bordes */
    border-radius: 2px;         /* Bordes redondeados */
    background-color: #f9f9f9;  /* Fondo claro para el formulario */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin: 20px auto;          /* Centramos el contenedor en la pantalla */
    max-width: 600px;           /* Máximo ancho del formulario */
  }
  
  /* Estilo específico para el formulario dentro del contenedor */
  form {
    display: flex;
    flex-direction: column;     /* Asegura que los items del formulario estén uno debajo del otro */
    gap: 12px;                  /* Espaciado entre los elementos */
  }
  
  /* Alineación de los campos del formulario */
  ion-item {
    margin-bottom: 12px;        /* Espaciado entre los campos */
  }
  
  /* Estilo para el texto de error */
  ion-text {
    font-size: 12px;
    margin-top: 4px;
  }
  
  /* Estilo para el botón 'clear' */
  .custom-clear-button {
    color: blue;               /* Color del texto en azul */
    font-size: 14px;            /* Tamaño de la fuente */
    padding: 0px 10px;          /* Espaciado interno del botón */
    text-align: left;           /* Alinea el texto del botón a la izquierda */
    display: inline-block;      /* Hace que el botón ocupe solo el tamaño del contenido */
  }